.todo-list {
  margin-top: 4px;
  padding: 8px 32px 16px;
  height: calc(100% - 148px);
  scroll-behavior: smooth;
  overflow: hidden overlay;

  &:hover::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar {
    overflow-y: overlay;
    background: #6ca3ed33;
    width: 0px;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-button {
    background: transparent;
  }
}
